div {
  text-align: center;

  a {
    text-decoration: none;
    background: green;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
  }

  button {
    border: navajowhite;
    background: red;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

}

